*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/*//---------------------------------------------------------*/
/*// Universal Box Sizing with Inheritance*/
/*//---------------------------------------------------------*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/*//---------------------------------------------------------*/


body {
    color: darkslategray;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    /*margin: auto;*/
    background-color: lavenderblush;
}

h1, h2, h3, h4, h5 {
    margin: .7rem 0 .5rem;
}

h1 {
    font-size: 5rem;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    line-height: 2;
}

h3 {
    font-size: 1.5rem;
    line-height: 2;
}

h4 {
    font-size: 1.3rem;
}

ol li {
    font-weight: bold;
    margin: .5rem 0;
}

ul {
    margin-bottom: 1.5rem;
}

ol li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

ul li {
    font-weight: normal;
    /*list-style-type: 🍴;*/
    /*list-style-image: 🍴;*/
    list-style-position: inside;
}


main {
    width: 70vw;
    max-width: 700px;
    height: 85vh;
    /*max-height: 700px;*/
    padding: 4%;
    margin: 5% auto;
    /*border: 1px solid black;*/

    background-color: blanchedalmond;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    margin: 1rem 0;
    padding: 0;
}
